<div class="row">
    <div class="col-md-6">
        <h2 class="words">You have CREATED:</h2>


        <ul class="list-group center">
            {{#each burgers}}
            {{#unless devoured}}
            <li class="list-group-item answer">
                <p>
                    <!--{{id}}. -->
                    <!--{{b}}
        {{burger_name}}-->
                    {{burger_name}}


                    <form action="burgers/update/{{id}}?_method=PUT" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn-danger" id="{{id}}">Devour!</button>
                    </form>
                </p>
            </li>
            {{/unless}}
            {{/each}}
        </ul>

    </div>
    <div class="col-md-6">
        <h2 class="words">You have DEVOURED:</h2>
        <ul class="list-group center">
            {{#each burgers}}
            {{#if devoured}}
            <li class="list-group-item answer">
                <p>
                    <!--{{id}}. -->
                    <!--{{b}}
        {{burger_name}}-->
                    {{burger_name}}
                </p>
            </li>
            {{/if}}
            {{/each}}
        </ul>

    </div>




    <!--
<h2>Update a Movie</h2>
<form action="/update?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="movie" placeholder="plan"></textarea>
	<button type="submit">Update Plan!</button>
</form>-->
</div>

<!--// <script>-->
<!--// $("#devour").on("click", ()=>{
//     $.ajax({
//             url: "/update",
//             type: "UPDATE",
//             data: {uid: 12341234}, //this sends the user-id to php as a post variable, in php it can be accessed as $_POST['uid']
//             success: function(data){
//                 data = JSON.parse(data);
//                 //update some fields with the updated data
//                 //you can access the data like 'data["driver"]'
//             }
//         });
// })

// </script>-->